chatboot-deepseek.json
{
  "name": "chatboot-deepseek",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "kamu adalah asistent AI yang bernama ArisAI, kamu adalah seorang ahli komputer"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "ac9fe9fc-7a37-468d-8352-abd059e79171",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "2c51f20f-664d-4996-bb2a-1e73ced40ce7",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "PhXpgjqdlbDeX3UD",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "9b487b6a-0edf-4a02-9e02-d38e233a13fd",
      "name": "Telegram Trigger",
      "webhookId": "ee8a1997-03e3-445d-a19d-279bfca9b8dc",
      "credentials": {
        "telegramApi": {
          "id": "D9z29bAqQ1nlvts3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "ee819a50-2fe5-46e3-a55f-d0c1731c012c",
      "name": "Send a text message",
      "webhookId": "6af05d6f-fccd-4c26-88fa-33cf4b610175",
      "credentials": {
        "telegramApi": {
          "id": "D9z29bAqQ1nlvts3",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "4d7d5b1a-60c2-4527-897b-8ae552ac94cb",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f48fd3a-fd4d-43cb-9721-30daf16c622c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7349daa5db5bb41d72a8e348c546a631bef225410e0cd181e82c584a00c2bfbb"
  },
  "id": "FOCKH2cemYNFJ7H2",
  "tags": []
}